/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/componentStyles.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/


.componentStyles_header__7tNTo {
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 90%;
    font-family: var(--font-mono);
    color: #000;
    background: #FFF;
    border: 2pt solid var(--black);

}

.componentStyles_header__7tNTo ul {
    width:100%;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.componentStyles_header__7tNTo li {
    display: flex;

}

.componentStyles_main__gGgsK {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:90%;
    max-width: var(--max-width);
    min-height: 80vh;
    border: 2pt solid var(--black);
    color: var(--black);
    background: var(--white);
    padding:10pt 0 10pt 0;
  }

.componentStyles_loginForm__VX8YF {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10pt
}

.componentStyles_importForm__WvXfB {
    grid-template-columns: 22% 22% auto;
    grid-template-rows: 22% auto;
}

.componentStyles_productList__8p2es {
    display: flex;
    flex-direction:column;
    width:100%;

}

.componentStyles_productRow__erkYx {
    width:90%;
    border: 2pt solid var(--black);
    display: flex;
    justify-content: space-between ;
}

.componentStyles_footer__TqNvg {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 90%;
    font-family: var(--font-mono);
    color: #000;
    background: #FFF;
    border: 2pt solid var(--black);
}
